{% extends 'base.html' %}


{% block all_blogs %}
{% for b in blogs %}

<div class="col col-lg-12 tm-post-col">
    <div class="tm-post-full">
        <a href="{% url 'view_aBlog' b.id %}" class="effect-lily tm-post-link tm-pt-60">
            <div class="tm-post-link-inner">
                {% load static %}
                <img src="{{ b.thumbnail.url }}" alt="thumbnail" class="img-fluid">
            </div>
            <span class="position-absolute tm-new-badge">New</span>
            <h2 class="tm-pt-30 tm-color-primary tm-post-title">{{b.title}}</h2>
        </a>
        <p class="tm-pt-30">
            {{b.content|safe}}
        </p>

        <div class="d-flex justify-content-between tm-pt-45">
            <span class="tm-color-primary"><a
                    href="{% url 'view_aCategory_byName' b.category %}">{{b.category}}</a></span>
            <span class="tm-color-primary">{{b.date_posted}}</span>
        </div>
        <hr>
        <div class="d-flex justify-content-between">
            <span>{{b.count_comments}} comments</span>
            <span>by {{b.author}}</span>
        </div>
    </div>
</div>
{% endfor %}

{% if blogs.has_other_pages %}
<div class="row tm-row tm-mt-100 tm-mb-75">
    <div class="tm-prev-next-wrapper">
        {% if blogs.has_previous %}
        <a href="?page={{  blogs.previous_page_number }}"
            class="mb-2 tm-btn tm-btn-primary tm-prev-next  tm-mr-20">Prev</a>
        {% endif %}
        {% if blogs.has_next %}
        <a href="?page={{ blogs.next_page_number }}" class="mb-2 tm-btn tm-btn-primary tm-prev-next">Next</a>
        {% endif %}
    </div>   
</div>
{% endif %}


{% endblock all_blogs %}