{% extends 'base.html' %}


{% block all_blogs %}
{% for b in blogs %}

<div class="col-lg-8 tm-post-col">
    <div class="tm-post-full">
        <div class="mb-4">
            <h2 class="pt-2 tm-color-primary tm-post-title"><a href="{% url 'view_aBlog' b.id %}">{{b.title}}</a>
            </h2>
            <p class="tm-mb-40">{{b.date_posted}} posted by {{b.author.username}}</p>
            <p>
                {{b.content}}
            </p>
            <span class="d-block text-right tm-color-primary">{{b.category}}</span>
        </div>

    </div>
</div>

{% endfor %}
{% endblock all_blogs %}