{% extends 'base_no_cat.html' %}


{% block about %}
         

<div class="row tm-row tm-mb-40">
    <div class="col-12">                    
        <div class="mb-4">
            <h2 class="pt-2 tm-mb-40 tm-color-primary tm-post-title">About the developer</h2>
            <p>
                Story of the developer.
            </p>
            <p>
                This is my story
            </p>                            
        </div>                    
    </div>
</div>           
</div>        

{% endblock about %}