{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page_title}}</title>
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
    <link rel="stylesheet" href="{% static '/fontawesome/css/all.min.css' %}">
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    

    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <!-- https://fonts.google.com/ -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/templatemo-xtra-blog.css' %}" rel="stylesheet">
    <!--
    
TemplateMo 553 Xtra Blog

https://templatemo.com/tm-553-xtra-blog

-->
</head>

<body>
    <header class="tm-header" id="tm-header">
        <div class="tm-header-wrapper">
            <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="tm-site-header">
                <div class="mb-3 mx-auto tm-site-logo"><i class="fas fa-times fa-2x"></i></div>
                <h1 class="text-center">Dura Blog</h1>
            </div>
            <nav class="tm-nav" id="tm-nav">
                <ul>
                    {% if request.user.is_authenticated %}
                    <li class="tm-nav-item active"><a href="#" class="tm-nav-link">
                        <i class="fa fa-user-circle" aria-hidden="true"></i>
                                                {{request.user}}
                    </a></li>
                    {% endif %}
                    <li class="tm-nav-item"><a href="{% url 'view_allBlogs'%}" class="tm-nav-link">
                            <i class="fas fa-home"></i>
                            Blog Home
                        </a></li>
                    {% if request.user.is_authenticated %}
                    <li class="tm-nav-item"><a href="{% url 'add_aBlog' %}" class="tm-nav-link">
                            <i class="fas fa-pen"></i>
                            Write Post
                        </a></li>
                    <li class="tm-nav-item"><a href="{% url 'my_blogs' %}" class="tm-nav-link">
                        <i class="fas fa-blog"></i>
                            My Blogs
                        </a></li>
                    
                    {% endif %}
                    <li class="tm-nav-item"><a href="{% url 'about_me' %}" class="tm-nav-link">
                            <i class="fas fa-users"></i>
                            About me
                        </a></li>
                    {% if request.user.is_authenticated is False %}
                    <li class="tm-nav-item"><a href="{% url 'register' %}" class="tm-nav-link">
                            <i class="fa fa-user-plus"></i>
                            Register
                        </a></li>
                        <li class="tm-nav-item"><a href="{% url 'login' %}" class="tm-nav-link">
                            <i class="fas fa-sign-in-alt"></i>
                            Sign In
                        </a></li>
                    {% endif %}
                    
                    {% if request.user.is_authenticated %}
                    <li class="tm-nav-item"><a href="{% url 'logout' %}" class="tm-nav-link">
                        <i class="fas fa-sign-out-alt"></i>
                        Sign Out
                    </a></li>
                    {% endif %}


                </ul>
            </nav>
            <div class="tm-mb-65">
                <li class="tm-nav-item">
                    Connect to developer
                </a></li>
                <a rel="nofollow" href="{% url 'fb' %}" class="tm-social-link">
                    <i class="fab fa-facebook tm-social-icon"></i>
                </a>
                <a href="{% url 'tw' %}" class="tm-social-link">
                    <i class="fab fa-twitter tm-social-icon"></i>
                </a>
                <a href="{% url 'ig' %}" class="tm-social-link">
                    <i class="fab fa-instagram tm-social-icon"></i>
                </a>
                <a href="{% url 'ln' %}" class="tm-social-link">
                    <i class="fab fa-linkedin tm-social-icon"></i>
                </a>
                <a href="{% url 'gh' %}" class="tm-social-link">
                    <i class="fab fa-github tm-social-icon"></i>
                </a>
            </div>
            <p class="tm-mb-80 pr-5 text-white">
                This is the detail about Dura Blog.
            </p>
        </div>
    </header>

    <div class="container-fluid">
        <main class="tm-main">
            <!-- Search form -->
            <div class="row tm-row">
                <div class="col-12">
                    <form method="POST" action="{% url 'search_blog_title' %}"
                        class="form-inline tm-mb-80 tm-search-form">
                        {% csrf_token %}
                        <input class="form-control tm-search-input" name="query" type="text"
                            placeholder="Search blog title..." aria-label="Search">
                        <button class="tm-search-button" type="submit">
                            <i class="fas fa-search tm-search-icon" aria-hidden="true"></i>
                        </button>
                    </form>
                </div>
            </div>

            <div class="row tm-row">
                {% block base_content %}{% endblock base_content %}
            </div>




            <footer class="row tm-row">
                <hr class="col-12">
                <div class="col-md-6 col-12 tm-color-gray">
                    Design: <a rel="nofollow" target="_parent" href="https://templatemo.com"
                        class="tm-external-link">TemplateMo</a>
                </div>
                <div class="col-md-6 col-12 tm-color-gray tm-copyright">
                    Copyright 2020 © Dura Blog. All rights reserved.
                </div>
            </footer>
        </main>
    </div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/templatemo-script.js' %}"></script>
</body>

</html>