{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{context_title}}</title>
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}"> <!-- https://fontawesome.com/ -->
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <!-- https://fonts.google.com/ -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/templatemo-xtra-blog.css' %}" rel="stylesheet">
    <!--
    
TemplateMo 553 Xtra Blog

https://templatemo.com/tm-553-xtra-blog

-->
</head>

<body>
    <header class="tm-header" id="tm-header">
        <div class="tm-header-wrapper">
            <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="tm-site-header">
                <div class="mb-3 mx-auto tm-site-logo"><i class="fas fa-times fa-2x"></i></div>
                <h1 class="text-center">Dura Blog</h1>
            </div>
            <nav class="tm-nav" id="tm-nav">
                <ul>
                    <li class="tm-nav-item active"><a href="{% url 'view_allBlogs'%}" class="tm-nav-link">
                            <i class="fas fa-home"></i>
                            Blog Home
                        </a></li>
                    <li class="tm-nav-item"><a href="post.html" class="tm-nav-link">
                            <i class="fas fa-pen"></i>
                            Single Post
                        </a></li>
                    <li class="tm-nav-item"><a href="about.html" class="tm-nav-link">
                            <i class="fas fa-users"></i>
                            About me
                        </a></li>
                    <li class="tm-nav-item"><a href="contact.html" class="tm-nav-link">
                            <i class="far fa-comments"></i>
                            Contacts
                        </a></li>
                </ul>
            </nav>
            <div class="tm-mb-65">
                <a rel="nofollow" href="https://fb.com/templatemo" class="tm-social-link">
                    <i class="fab fa-facebook tm-social-icon"></i>
                </a>
                <a href="https://twitter.com" class="tm-social-link">
                    <i class="fab fa-twitter tm-social-icon"></i>
                </a>
                <a href="https://instagram.com" class="tm-social-link">
                    <i class="fab fa-instagram tm-social-icon"></i>
                </a>
                <a href="https://linkedin.com" class="tm-social-link">
                    <i class="fab fa-linkedin tm-social-icon"></i>
                </a>
            </div>
            <p class="tm-mb-80 pr-5 text-white">
                This is the detail about Dura Blog.
            </p>
        </div>
    </header>

    <div class="container-fluid">
        <main class="tm-main">
            <!-- Search form -->
            <div class="row tm-row">
                
                <div class="col-12">
                    <form method="GET" action="{% url 'search_blog_title' %}" class="form-inline tm-mb-80 tm-search-form">
                        {% csrf_token %}
                        <input class="form-control tm-search-input" name="query" type="text" placeholder="Search Blog title..."
                            aria-label="Search">
                        <button class="tm-search-button" type="submit">
                            <i class="fas fa-search tm-search-icon" aria-hidden="true"></i>
                        </button>
                    </form>
                </div>
            </div>

            <div class="row tm-row">
                <div class="col col-lg-8 col-md-6">
                    
            {% block content %}{% endblock content %}

            {% block blogs_content %}{% endblock blogs_content %}

            {% block blog_content %}{% endblock blog_content %}

            {% block create_blog %}{% endblock create_blog %}

            {% block single_blog %}{% endblock single_blog %}

            {% block all_blogs %}{% endblock all_blogs %}

            {% block content_blog_update %} {% endblock content_blog_update %}
            
            {% block register_content %}{% endblock register_content %}

            {% block login_content %}{% endblock login_content %}

                </div>
            <aside class="col-lg-4 col-md-3 tm-aside-col">
                <div class="tm-post-sidebar">
                    <hr class="mb-3 tm-hr-primary">
                    <h2 class="mb-4 tm-post-title tm-color-primary">Categories</h2>
                    <ul class="tm-mb-75 pl-5 tm-category-list">
                        {% for c in categoryList %}
                        <li><a href="{% url 'view_aCategory' c.id %}" class="tm-color-primary">{{c.name}}</a></li>
                        {% endfor %}
                    </ul>
                </div>                    
            </aside>
            </div>

           


            <footer class="row tm-row">
                <hr class="col-12">
                <div class="col-md-6 col-12 tm-color-gray">
                    Design: <a rel="nofollow" target="_parent" href="https://templatemo.com"
                        class="tm-external-link">TemplateMo</a>
                </div>
                <div class="col-md-6 col-12 tm-color-gray tm-copyright">
                    Copyright 2020 © Dura Blog. All rights reserved.
                </div>
            </footer>
        </main>
    </div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/templatemo-script.js' %}"></script>
</body>

</html>