{% extends 'base_primary.html' %}
{% block base_content %}<div class="col col-lg-8">

    {% block content %}{% endblock content %}

    {% block blogs_content %}{% endblock blogs_content %}

    {% block blog_content %}{% endblock blog_content %}

    {% block single_blog %}{% endblock single_blog %}

    {% block all_blogs %}{% endblock all_blogs %}
</div>

<div class="col col-lg-4">
    <aside class="col-lg-12 tm-aside-col">
        <div class="tm-post-sidebar">
            <hr class="mb-3 tm-hr-primary">
            <h2 class="mb-4 tm-post-title tm-color-primary">Categories</h2>
            <ul class="tm-mb-75 pl-5 tm-category-list">
                {% for c in categoryList %}
                <li><a href="{% url 'view_aCategory' c.id %}" class="tm-color-primary">{{c.name}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </aside>

</div>{% endblock base_content %}